


/*matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY())*/




div{
    width: 200px;
    height: 200px;
    background-color: rgba(243, 174, 174, 0.658);
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s 0s linear transform;
}

div:hover{
    transform: matrix(1.5,0.9,0,1.5,50,70);
                    /*||*/
    /* transform: translateX(20px) translateY(20px) scaleX(1.2) skewY(15deg) skewX(0deg) scaleY(1.2); */
}