div{
    width: 200px;
    height: 200px;
    background-color: rgba(243, 174, 174, 0.658);
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s 0s linear all;
}
div:hover{
    /* transform-origin:bottom left; */
    transform-origin: 0 100%;
    transform: rotate(360deg);
}